{% load static %}
<!DOCTYPE html>
<html lang="pl" data-bs-theme="dark">
<head>
    <title>SIAU - Wylogowano</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <meta http-equiv="refresh" content="5;url={% url 'login' %}">
</head>
<body>
    <div class="header-bg">
        <h1>SIAU - Wylogowano</h1>
    </div>
    <div class="container">
        <h1>Wylogowano</h1>
        <p>Zostałeś wylogowany. Za 5 sekund zostaniesz przekierowany na stronę logowania.</p>
        <a href="{% url 'login' %}" class="btn btn-primary">Przejdź teraz</a>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>
</html>