{% extends 'base.html' %}

{% block title %}Ustaw Nowe Hasło{% endblock %}

{% block content %}
<div class="container mt-4">
    <h2>Ustaw Nowe Hasło</h2>
    <hr>
    {% if validlink %}
        <p>Proszę, wprowadź swoje nowe hasło dwa razy, abyśmy mogli zweryfikować, czy wpisałeś je poprawnie.</p>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }} {# Wyświetla pola nowego hasła #}
            <button type="submit" class="btn btn-success mt-2">Zmień moje hasło</button>
        </form>
    {% else %}
        <p class="text-danger">Link do resetowania hasła jest nieprawidłowy lub już wygasł. Możliwe, że został już użyty. Proszę, zażądaj nowego resetowania hasła.</p>
        <a href="{% url 'password_reset' %}" class="btn btn-primary mt-3">Poproś o nowy link</a>
    {% endif %}
</div>
{% endblock %}