{% extends 'base.html' %} {# Lub inny bazowy szablon #}

{% block title %}Resetowanie Hasła{% endblock %}

{% block content %}
<div class="container mt-4">
    <h2>Resetowanie Hasła</h2>
    <p>Zapomniałeś hasła? Wprowadź poniżej swój adres email, a wyślemy Ci instrukcję jak ustawić nowe.</p>
    <hr>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }} {# Wyświetla pole email formularza #}
        <button type="submit" class="btn btn-primary mt-2">Wyślij instrukcję</button>
        <a href="{% url 'login' %}" class="btn btn-secondary mt-2">Anuluj</a>
    </form>
</div>
{% endblock %}