{% autoescape off %}
Otrzymujesz tę wiadomość, ponieważ zażądano zresetowania hasła dla Twojego konta użytkownika na stronie {{ site_name }}.

Proszę, przejdź na poniższą stronę i ustaw nowe hasło:
{% block reset_link %}
{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}
{% endblock %}
Twój login (email), w razie gdybyś zapomniał: {{ user.get_username }}

Jeśli to nie Ty prosiłeś o zresetowanie hasła, zignoruj tę wiadomość.

Dziękujemy,
Zespół {{ site_name }}
{% endautoescape %}