{% extends 'base.html' %}

{% block title %}Instrukcja Wysłana{% endblock %}

{% block content %}
<div class="container mt-4">
    <h2>Resetowanie Hasła - Instrukcja Wysłana</h2>
    <hr>
    <p>Wysłaliśmy Ci email z instrukcją jak ustawić nowe hasło, jeśli konto o podanym adresie email istnieje. Powinieneś otrzymać wiadomość wkrótce.</p>
    <p>Jeśli nie otrzymałeś emaila, upewnij się, że podałeś poprawny adres, pod którym się rejestrowałeś, i sprawdź folder spam.</p>
    <a href="{% url 'login' %}" class="btn btn-primary mt-3">Powrót do logowania</a>
</div>
{% endblock %}